body {
    margin: 8px;
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

a:link, a:visited {
    color: red;
    text-decoration: none;
}

a:link:active, a:hover {
    color: green;
}

header {
    text-align: center;
}

article {
    margin: 25px 50px;
    padding: 20px;
    background-color: lightgrey;
}

h3 {
    text-align: center;
}

#note {
    margin: 25px;
    background-color: tan;
    padding: 50px;
    border-radius: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }